<tr>
  <th><%= order @search, :by => :card_name, :as => 'Name' %></th>
  <th><%= order @search, :by => :card_color_name, :as => 'Color' %></th>
  <th><%= order @search, :by => :card_expansion_abbr, :as => 'Expansion' %></th>
  <th><%= order @search, :by => :total, :as => 'Total' %></th>
  <th><%= order @search, :by => :need, :as => 'Need' %></th>
  <th colspan="2">Action</th>
</tr>
<% picks.each do |pick| %>
  <tr id="pick-<%= pick.id %>">
    <%= card_columns(pick.card) %>
    <td><%= pick.total %></td>
    <td><%= pick.need %></td>
    <td><%= link_to_remote 'Edit', :url => edit_pick_url(pick), :method => :get %></td>
    <td><%= link_to 'Delete', pick_url(pick), :method => :delete %></td>
  </tr>
<% end %>