<tr>
  <th class="name-heading"><%= order @search, :by => :name, :as => 'Name', :params => {:color_id => @color.try(:id)} %></th>
  <th class="color-heading"><%= order @search, :by => :color_name, :as => 'Color', :params => {:color_id => @color.try(:id)} %></th>
  <th class="expansion-heading"><%= order @search, :by => :expansion_abbr, :as => 'Expansion', :params => {:color_id => @color.try(:id)} %></th>
  <th class="total-heading"><%= order @search, :by => :total, :as => 'Total', :params => {:color_id => @color.try(:id)} %></th>
  <th colspan="2">Action</th>
</tr>
<% cards.each do |card| %>
  <tr id="card-<%= card.id %>">
    <%= card_columns(card) %>
    <td><%= card.total %></td>
    <td><%= link_to_remote 'Edit', :url => edit_card_url(card, :color_id => @color.try(:id)), :method => :get %></td>
    <td><%= link_to 'Delete', card_url(card, :color_id => @color.try(:id)), :method => :delete %></td>
  </tr>
<% end %>