<h2><%= @deck.name.upcase %> (<%= @deck.total %>) (<%= link_to 'BUY', deck_shopping_list_url(@deck.id, :format => "txt") %>)</h2>
<% form_for(@pick) do |f| %>
  <%= render "picks/form", :f => f, :pick => @pick, :colors => @colors %>
<% end %>
<table id="picks-table">
  <%= render "picks/table", :picks => @picks %>
</table>